.border{
  border-bottom: 1px solid black;
  padding: 15px;
}

.left{
  width: 20%;
}
.right{
  width: 80%;
}

.mag_pad{
  padding: 12px;
}




 .searchicon {
   position: absolute;
   margin: 0.9rem;
 }

 .input-icons {

   background:#F5F5F5;
   width: 45%;
   border-radius: 6px;
   box-sizing: border-box;
   /* margin-bottom: 10px; */
  height: 2.8rem;


 }

 .input-field::placeholder {
  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
  
  
    color: #787486;
   /* identical to box height */


   
 }

 .icon {
   padding: 10px;

   min-width: 50px;
   /* text-align: center; */
 }

 .input-field {
  
   padding: 10px;
   background-color: #F5F5F5;
   margin-left: 2rem;

   border: none;
 }

 .input-field:focus-visible {
   outline: none
 }
 .avatar {

   width: 35px;
   height: 35px;
   border-radius: 50%;
 }

 .heading {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
  

   color: #0D062D;
 }

.search{
  background: #F5F5F5;
  width: 40%;

}



.s1{
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.s2{
  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  text-align: right;
  font-weight: 400;
}

.left_side_bar{
  width: 20%;
  height: auto;
  border-right: 1px solid #DBDBDB;
  
}
.ul_items1{

 
  list-style: none;
  display: flex;
    flex-direction: column;
    gap: 15px;
   
    padding: 30px 0;
}


.items1{
  padding: 8px;
font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #787486;
  cursor: pointer;
  
}

  
.ul_items2{
 
  
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
  
  
  }


.item_name{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
  
    text-transform: uppercase;
    color:#787486;
}

.item_name:hover{
  color: black;
  
}




.activeside{
  background-color: rgba(80, 48, 229, 0.08);
    padding-top: 5px;
    border-radius: 6px;
    cursor: pointer;
    height: 2.5rem;
      color: black;
      margin-right: 11px;
}

  .listhover{
  padding-left: 6px;
  border-radius: 6px;
  cursor: pointer;
  height: 2.5rem;
  margin-right: 11px;
  }
  .listhover:hover{
background-color: rgba(80, 48, 229, 0.08);
padding-top: 5px;
  border-radius: 6px;
  cursor: pointer;
  height: 2.5rem;
  margin-right: 11px;
  }


.dot_cls{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 16px;
color: #0D062D;
margin-left: 5.5rem;
margin-bottom: 8px;
}


.thought-box
{
 
  background-color: #97969d1f;
 
  border-radius: 16px;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.side_box_p{
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
    padding: 8px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #787486;
}

.side_box_h{
  font-size: 14px;
  text-align: center;
  line-height: 16.94px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  padding-top: 50px;
}
.lampbg{

  background-color:rgb(238 237 232 / 20%);
   
  border-radius: 9999px;
  
  /* filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow); */
  height: 60px;
  position: absolute;
  width: 60px;
}

.lampon{
  --tw-bg-opacity: 1;
    align-items: center;
    background-color:rgb(234 191 32 / 20%);
    border-radius: 9999px;
    display: flex;
    height: 66px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
}

.box_input{
  border: none;
  height: 40px;
  margin-bottom: 1rem;
}

.box_input::placeholder{
  font-size: 14px;
  text-align: center;
  line-height: 16.94px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  color: black;
}


.iconbg{
  padding: 3px 2px;
margin-top: -4px;
}
.righticon{

  background: rgba(80, 48, 229, 0.2);
  border-radius: 5px;
    width: 1.5rem;
    height: 1.5rem;
  cursor: pointer;
    margin: 15px;
}
.right_side_area{
  width: 80%;
}



.head_text{
  font-size: 46px;
  text-align: center;
  text-transform: capitalize;
  color: #0D062D;
  line-height: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  padding-left: 30px;
  /* padding-top: 30px; */
}

.right_invite{
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #5030E5;
  line-height: 19.36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  padding-top: 20px;
  /* padding-right: 10px; */

}

.img_cls{
  margin-right: 20px;
  margin-left: 17px;
  height: 2rem;
  margin-top: 0.8rem;
}
.buttonleft{
  --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    align-items: center;
    border-color: rgb(120 116 134/var(--tw-border-opacity));
    border-radius: 0.375rem;
    border-width: 1px;
    color: rgb(120 116 134/var(--tw-text-opacity));
    display: flex;
    gap: 0.5rem;
    padding: 10px 15px;
  border: 1px solid #787486;
  cursor: pointer;
   
}
.btnfont{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  
    color: #787486;
}
.stylepause{
  background-color: #5030E5;
      width: 2.5rem;
        border-radius: 0.35rem;
        height: 2.5rem;
        cursor: pointer;
}

.long_box{
  /* border: 2px solid red; */
  height: 100%;
  width: 35%;
  background-color: #F5F5F5;
  border-radius: 16px;
}

.heading{
  /* text-align: left; */
  font-size: 18px;
  font-weight: bold;

}
.inner_box{
  padding: 10px;
  border-radius: 16px;
  background-color: white;
 /* margin-left: 2px;
 margin-right: 2px; */
 margin: 10px;

}

.card_head{
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #0D062D;
}




.card_head_no{
    color: #625F6D;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin:0.188rem 0.313rem
    /* identical to box height */
 
}

.card_head_box{
  padding-bottom: 1.25rem;
 border-bottom:3px solid #5030E5;
 margin:0rem 0.8rem
}
.border_card{
  border-radius: 50%;
    width: 1.25rem;
    background-color: #E0E0E0;
    height: 1.25rem;
    margin-top: 0.2rem;
}

.btn_low{
  background-color: rgba(223, 168, 116, 0.2);
  color: #D58D49;
  border: none;
  border-radius: 4px;
}
.btn_high{
  color: #D8727D;
  background: rgba(216, 114, 125, 0.1);
    border: none;
  border-radius: 4px;
}
.btn_completed{
  color: #68B266;
  background:  rgba(131, 194, 157, 0.2);
    border: none;
  border-radius: 4px;
}

.para{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
margin-top: -0.563rem;
color: #787486;
}

.my_img{
  width: 100%;
}

.comments{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
  
  
    color: #787486;
}

/* .item.dragging{
  /* background: rgba(80, 48, 229, 0.06);
    border: 1px dashed rgba(80, 48, 229, 0.59);
    border-radius: 10px; */
/* }


.inner_box:-moz-drag-over{
  background: rgba(80, 48, 229, 0.06);
    border: 1px dashed rgba(80, 48, 229, 0.59);
    border-radius: 10px;
    width: 10rem;
} */ 
.bell_icon{
  height: 21px;
}

@media screen and (max-width: 600px) {

  .resp{
    display: none !important;
  }
  .left_side_bar{
  width: 15%;
  }
  .left{
    width: 15%;
  }
  .mob_app_sec{
    flex-direction: column;
  }
  .long_box_resp  {
    flex-direction: column;
  }
  .long_box{
    width: 100%;
  }
  .head_text{
    font-size: 30px;
  }
  .img_cls{
    margin-left: 53px;
  }
  .red_notif{
    left: 282px;
  }
  .comm{
    flex-direction: column;
  }
}